@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
}

*:focus{
    outline: none;
}

.wrapper {
    margin: 80px auto;
    padding: 2em 1em 1em 2em;
    background-color: #ecf0f3;
    border-radius: 1.5em;
    box-shadow: 1em 1em 1.3em #cbced1, -1em -1em 1.3em #fff;
    width: 70vw;
    max-width: 15em;
}

.flx{
    display: flex;
    justify-content: center;
    text-align: center;
}

h3{
    margin: 1em auto;
} 
.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 2em;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 2em;
    box-shadow: 1em 1em 0.7em #b1b1b1,
        -0.2em -0.2em 0.7 #fff;
    letter-spacing: 1.3px;
    border-width: 0.1em;
}

a{
    text-decoration: none;
    color:#fff ;
}
