{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page title</title>
    <link rel="stylesheet" href="{% static 'CSS/signup_To_Login.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="flx">
            <h3>
                You have successfully Signup Metagram.
            </h3>
        </div>
        <div class="form-field d-flex align-items-center">
            <button class="btn mt-3"><a href="{% url 'login' %}">Login</a></button>
        </div>
    </div>
</body>
</html>
