{% extends "M_e_Signup.html" %}
{% block body %} 
<body>
    <div>
       <form action="signup_Continue_Name" method="post" >
         {% csrf_token %}
        <div id="change">
           <div> <h3>
                Enter name and password
            </h3>
            </div>
            <div>
                <p>Add your name so friends can find you.</p>
            </div>
            <div id="bbox">
	    <div>
	      {% for i in messages %}
	      {{ i }}
	      {% endfor %}
	    </div>
            <div class = "inpcode">
                <input type="text" class="same" name="Name" placeholder="Full Name" required >
            </div>
            <div class = "inpcode">
                <input type="password" class="same" name="password" placeholder="Password"required >
            </div>
            <input type="submit" id="next" value="Next" class="same" >
            </div>
        </div>
      </form>
    </div>
    
    <style>
        *:focus{
            outline:none;
         }
        *{
            margin: 2px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
            font-size: 35px;
            background-color: white;
            text-decoration: none;
        }
        #change{
            margin: 50px auto;
            text-align: center;
            padding: 100px;
        }
        h3{
            margin: 60px auto;
            
        }
        
        .inpcode{
            box-sizing: border-box;
            margin: 40px auto;
            width: 100%;
            border: 2px solid gray;
            border-radius: 9px;
            background-color: white;
        }
        .same{
            width: 99%;
            height: 2.5em;
            border-radius: 9px;
            border-width: 0px;
        }
        button{
            background-color: #2babff;
				     color: white;
        }
        input{
            padding-left: 1em;
        }
        a{
            color: #2babff;
        }
        p{
            margin-bottom:3em;
        }
        input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
	   -webkit-transition-delay: 9999s;
	   transition-delay: 9999s;
	}
    </style>
</body>
{% endblock body %}

